@import "tailwindcss";

@layer utilities {
  .nav-link {
    position: relative;
    padding-bottom: 2px;
    font-family: 'Reforma 1918 Blanca', sans-serif;

  }

  @font-face {
    font-family: "Reforma 1918 Blanca";
    src: url("./assets/fonts/reforma.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }


  .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: currentColor;
    transition: width 0.3s ease-in-out;
  }

  .nav-link:hover::after {
    width: 100%;
  }
}

html,
body {
  overflow-x: clip;
  max-width: 100vw;
  /* background-color: #faf8f6; */
  background-color: #f7f2ea;
}

body,
.react-datepicker__header,
.react-datepicker__current-month {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.customBlue {
  background-color: #1A4069;
}

.bgCustom {
  /* background-color: #faf8f6; */
  background-color: #2596be;
}

ol,
ul {
  list-style: none;
}

h1 {
  /* font-family: 'Cormorant Garamond', sans-serif; */
  font-family: 'Reforma 1918 Blanca', sans-serif;
  /* font-weight: bold; */
  text-transform: Normal;
  letter-spacing: 4.5px;
  text-transform: uppercase;
  line-height: 1.3;
  /* font-style: italic; */
}

button, a {
  font-family: 'Reforma 1918 Blanca', sans-serif;
  /* font-weight: bold; */
  text-transform: Normal;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
}

p {
    text-align: justify;
    hyphens: auto;
}

.react-datepicker__header {
  background-color: #0c4a6e !important;
  /* sky-900 */
  color: white !important;
  border-bottom: none;
  text-transform: none;
}

.react-datepicker__current-month {
  color: white !important;
  font-size: 0.84rem !important;
  ;
  font-weight: normal !important;
  ;
}

.custom-slider .slick-slide>div {
  overflow: visible !important;
}

.custom-slider .slick-slide {
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0.6;
  overflow: visible !important;
}

.custom-slider .slick-center {
  transform: scale(1.5);
  /* maak groter */
  opacity: 1;
  /* volledig zichtbaar */
  z-index: 2;
  /* boven de andere */
}