@import "tailwindcss";

body, .react-datepicker__header, .react-datepicker__current-month {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

ol,
ul{
  list-style: none;
}

a {
  text-decoration: none;
}

.react-datepicker__header {
  background-color: #0c4a6e !important;  /* sky-900 */
  color: white !important;
  border-bottom: none;
  text-transform: none;
}

.react-datepicker__current-month {
  color: white !important;
  font-size: 0.84rem !important;; 
  font-weight: normal !important;;
}

