@import "tailwindcss";

@layer utilities {
  .nav-link {
    position: relative;
    padding-bottom: 2px;
    font-family: 'Arnhem', sans-serif;
    font-size: 0.75rem;
  }

  .nav-link.menu {
    font-size: 0.75rem;
  }

  @font-face {
    /* font-family: "Reforma 1918 Blanca"; */
    font-family: "Arnhem";
    src: url("./assets/fonts/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }


  .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: currentColor;
    transition: width 0.3s ease-in-out;
  }

  .nav-link:hover::after {
    width: 100%;
  }

  .nav-link:active::after {
    width: 100%;
  }
}

html,
body {
  overflow-x: clip;
  max-width: 100vw;
  /* background-color: #faf8f6; */
  background-color: #f7f2ea;
}

body,
.react-datepicker__header,
.react-datepicker__current-month {
  /* font-family: 'Plus Jakarta Sans', sans-serif; */
  font-family: 'Arnhem', sans-serif;
  font-size: 1rem; 
  line-height: 1.5rem;
}

.customBlue {
  background-color: #1A4069;
}

.customGreen {
  /* background-color: #67765e; */
  background-color: #60373D;
  /* background-color: #25D366; */
  
}

.textGreen {
  /* color: #67765e; */
  color: #60373D;

  /* background-color: #60373D; */
}

.bgCustom {
  /* background-color: #faf8f6; */
  background-color: #2596be;
}

.beigeBg {
  background-color: #c3b091;
}

ol,
ul {
  list-style: none;
}

h1,
.icon,
.explore-button,
h2 {
  /* font-family: 'Cormorant Garamond', sans-serif; */
  font-family: 'Arnhem', sans-serif;
  letter-spacing: 4.5px;
  line-height: 1.3;
}

h1,
.icon,
.explore-button {
  /* font-family: 'Cormorant Garamond', sans-serif; */
  text-transform: uppercase;
}

.hero {
  letter-spacing: 5.5px;
}

.icon {
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: bold;
}

button,
.location-heading {
  font-family: 'Arnhem', sans-serif;
  /* font-weight: bold; */
  text-transform: Normal;
  letter-spacing: 2px;
  font-size: 0.7rem;
}

a {
  text-decoration: none;
}

p {
  text-align: justify;
  hyphens: none;
}

.explore-button,
.containerBorder {
  border-color: #c3b091;
  border-style: solid;
}

.explore-button:hover {
  background-color: #c3b091;
  color: white;
}

.invite-section .heading-primary {
  color: #ffffff;
  /* force wit */
  text-align: center;
  /* voor de zekerheid */
}

.ctaSection .body-text {
  color: #ffffff;
  /* bijna wit (#F9FAFB bijv.) */
  text-align: left;
}

.ctaSection .heading-primary {
  color: #ffffff;
  /* force wit */
  text-align: left;
  /* voor de zekerheid */
}

.invite-section .body-text {
  color: #f9fafb;
  /* bijna wit (#F9FAFB bijv.) */
  text-align: center;
}

.body-text {
  font-size: 0.865rem;
  /* text-sm */
  color: #4B5563;
  /* text-gray-600 */
  line-height: 1.625;
  /* leading-relaxed */
}

.body-text.text-center {
  text-align: center;
}

.icon-sky {
  filter: brightness(0) saturate(100%) sepia(65%) hue-rotate(175deg);
}

.heading-primary {
  font-size: 1.1rem;
  /* text-2xl */
  padding-bottom: 1rem;
  /* pb-4 */
  color: #1F2937;
  /* text-gray-800 */
  line-height: 1.625;
  /* leading-snugged (vervang indien nodig) */
}

.heading-secondary {
  font-size: 0.88rem;
  /* text-2xl */
  padding-bottom: 1rem;
  /* pb-4 */
  /* color: #1F2937;      text-gray-800 */
  line-height: 1.35;
  /* leading-snugged (vervang indien nodig) */
  /* font-weight: bold; */
  text-transform: capitalize;
}

/* md: vanaf 768px */
@media (min-width: 768px) {
  .body-text {
    font-size: 1rem; /* text-base */
  }

  .heading-primary {
    font-size: 1.65rem;
    /* text-4xl */
    padding-bottom: 1.5rem;
    /* pb-6 */
  }
}

/* xl: vanaf 1280px */
@media (min-width: 1280px) {
  .heading-primary {
    padding-bottom: 2rem;
    /* pb-8 */
  }
}

.react-datepicker__header {
  background-color: #0c4a6e !important;
  /* sky-900 */
  color: white !important;
  border-bottom: none;
  text-transform: none;
}

.react-datepicker__current-month {
  color: white !important;
  font-size: 0.84rem !important;
  ;
  font-weight: normal !important;
  ;
}

.custom-slider .slick-slide>div {
  overflow: visible !important;
}

.custom-slider .slick-slide {
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0.6;
  overflow: visible !important;
}

.custom-slider .slick-center {
  transform: scale(1.5);
  /* maak groter */
  opacity: 1;
  /* volledig zichtbaar */
  z-index: 2;
  /* boven de andere */
}