@import "tailwindcss";

/* 
@layer components {
  .underline-animation {
    @apply relative;
  }
}

.underline-animation::after {
  @apply absolute content
} */

body, .react-datepicker__header, .react-datepicker__current-month {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

ol,
ul{
  list-style: none;
}

h1 {
  font-family: 'Cormorant Garamond', sans-serif;
  font-weight: bold;
  font-style: italic;
}
a {
  text-decoration: none;
}

.react-datepicker__header {
  background-color: #0c4a6e !important;  /* sky-900 */
  color: white !important;
  border-bottom: none;
  text-transform: none;
}

.react-datepicker__current-month {
  color: white !important;
  font-size: 0.84rem !important;; 
  font-weight: normal !important;;
}

.custom-slider .slick-slide > div {
  overflow: visible !important;
}

.custom-slider .slick-slide {
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0.6;
  overflow: visible !important;
}

.custom-slider .slick-center {
  transform: scale(1.5); /* maak groter */
  opacity: 1; /* volledig zichtbaar */
  z-index: 2; /* boven de andere */
}
